@model IEnumerable<_1640WebDevUMC.Models.Contribution>

@{
    ViewData["Title"] = "Guest view";
    Layout = "~/Views/Shared/Navbar_Layout.cshtml";
    var currentUserEmail = User.Identity.Name; // Get the current user's email
}

<head>
    <link href="./css/responsive.css" rel="stylesheet">
</head>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p> <a href="https://www.gre.ac.uk/">University of Greenwich</a></p>
    </div>
    <div class="container mt-5">
        <h1>Contributions</h1>
        <div class="rows">

            @foreach (var contribution in Model)
            {
                <div class="card-wrapper">
                    <div class="card">
                        <img src="https://cms.greenwich.edu.vn/pluginfile.php/1/theme_adaptable/frontpagerendererdefaultimage/1698976651/edu-survey-landing-image.jpg" class="card-media" />
                        <div class="card-details">
                            <h2 class="card-head">@contribution.Title</h2>
                            <p>@contribution.Content</p>
                            <p><strong>Faculty ID:</strong> @contribution.AcademicYear.FacultyID</p>
                            <p><strong>Faculty Name:</strong> @contribution.AcademicYear.Faculty.FacultyName</p>
                            <p><strong>Email:</strong> @contribution.ApplicationUser.Email</p>
                            <p><strong>Start Date:</strong> @contribution.AcademicYear.UploadDate</p>
                            <p><strong>Closed Date:</strong> @contribution.AcademicYear.ClosureDate</p>
                            <p><strong>Final Closed Date:</strong> @contribution.AcademicYear.FinalClosureDate</p>
                            <a asp-action="Details" class="card-action-button" asp-route-id="@contribution.ContributionID">View Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    </div>

    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="~/img/bg-1.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="~/img/bg-2.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>