@model _1640WebDevUMC.Models.UserViewModel

<h2>User Details</h2>

<div>
    <h4>Id:</h4>
    <p>@Model.Id</p>
</div>

<div>
    <h4>Email:</h4>
    <p>@Model.Email</p>
</div>

<div>
    <h4>Email Confirmed:</h4>
    <p>@Model.EmailConfirmed</p>
</div>

<div>
    <h4>Roles:</h4>
    <ul>
        @foreach (var role in Model.Roles)
        {
            <li>@role</li>
        }
    </ul>
</div>

<a href="@Url.Action("Edit", "Account", new { id = Model.Id })">Edit</a>
