@model IEnumerable<_1640WebDevUMC.Models.Accounts>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" style="color: red;">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <a asp-controller="EditAccount" asp-action="EditAccount" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
