@model _1640WebDevUMC.Models.UserViewModel




<body style="max-width: 400px; padding: 20px; margin: auto; background-color: #f9f9f9; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-top:200px;">
    <div style="text-align: center;">
        <h2 >User Details</h2>
    <hr />
    <div>
            <h4>Id: </h4>
            <p>@Model.Id</p>
    </div>

    <div>
            <h4>Email: </h4>
            <p>@Model.Email</p>
    </div>

    <div>
            <h4>Email Confirmed: </h4>
            <p>@Model.EmailConfirmed</p>
    </div>

    <div>
            <h4> Roles:  </h4>
            <p>
                @foreach (var role in Model.Roles)
                {
                    @role
                }
            </p>


    </div>
        <div>
            <h4>Faculties: </h4>
            <ul>
                @foreach (var faculty in Model.Faculties)
                {
                    <li>@faculty</li>
                }
            </ul>
        </div>


        <span style="justify-content: space-between; display: flex; ">
            <a class="btn btn-primary" href="@Url.Action("Edit", "MarketingCoordinatorDashboard", new { id = Model.Id })" style="margin-top: 20px;">
        Edit
    </a>
            <a class="btn btn-primary" asp-action="Index" style="margin-top: 20px;">Back to List</a>
    </span>
</div>
</body>
