@model _1640WebDevUMC.Models.Contribution

@{
    ViewData["Title"] = "Details";
}

<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 8px;
    }

    tr:nth-child(even) {
        background: #efefef;
    }

    thead {
        background: #4992ff;
    }

    tr:hover {
        background: #d1d1d1;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Contribution</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Files
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>PDF File</th>
                        <th>Image File</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var fileGroup in Model.Files.GroupBy(f => f.StudentEmail))
                    {
                        <tr>
                            <td>@fileGroup.Key</td>
                            <td>
                                @foreach (var file in fileGroup.Where(f => System.IO.Path.GetExtension(f.FilePath) == ".pdf"))
                                {
                                    <a href='@Url.Content(file.FilePath)'>@(System.IO.Path.GetFileName(file.FilePath))</a>
                                    <a asp-action="DownloadFile" asp-route-id="@file.FileID" class="btn btn-danger">Download</a>
                                }
                                @if (!fileGroup.Any(f => System.IO.Path.GetExtension(f.FilePath) == ".pdf"))
                                {
                                    <span>N/A</span>
                                }
                            </td>
                            <td>
                                @foreach (var file in fileGroup.Where(f => System.IO.Path.GetExtension(f.FilePath) == ".png"))
                                {
                                    <a href='@Url.Content(file.FilePath)'>@(System.IO.Path.GetFileName(file.FilePath))</a>
                                    <a asp-action="DownloadFile" asp-route-id="@file.FileID" class="btn btn-danger">Download</a>
                                }
                                @if (!fileGroup.Any(f => System.IO.Path.GetExtension(f.FilePath) == ".png"))
                                {
                                    <span>N/A</span>
                                }
                            </td>
                            
                            
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model?.ContributionID">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
    <a class="btn btn-danger" href="@Url.Action("DownloadFile", "Contributions", new { id = Model.ContributionID })">
        Download
    </a>
</div>
