@model _1640WebDevUMC.Models.AcademicYear

@{
    ViewData["Title"] = "Details";
}


<body style="max-width: 400px; padding: 20px; margin: auto; background-color: #f9f9f9; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-top:200px;">
    <div style="text-align: center;">
    <h2>Details</h2>
    <hr />

    <div>
        <h4>Upload Date:</h4>
        <p>@Model.UploadDate</p>
    </div>

    <div>
        <h4>Closure Date:</h4>
        <p>@Model.ClosureDate</p>
    </div>

    <div>
        <h4>Final Closure Date:</h4>
        <p>@Model.FinalClosureDate</p>
    </div>

    <div>
        <h4>Course:</h4>
        <p>@Model.Faculty.FacultyID</p>
    </div>

    <div>
            <a class="btn btn-primary" asp-action="Index" style="margin-right: 150px; margin-top:20px;">Back to List</a>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.AcademicYearID" style="margin-top:20px;">Edit</a>
    </div>
</div>
</body>


