@model IEnumerable<_1640WebDevUMC.Models.AcademicYear>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalClosureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalClosureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.FacultyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.YearID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.YearID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.YearID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
