@model _1640WebDevUMC.Models.Contribution

@{
    ViewData["Title"] = "Details";
}

<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 8px;
    }

    tr:nth-child(even) {
        background: #efefef;
    }

    thead {
        background: #4992ff;
    }

    tr:hover {
        background: #d1d1d1;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Contribution</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Files
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>PDF File</th>
                        <th>Image File</th>
                        <th>Comments</th>
                        <th>Public/Private</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fileGroup in Model.Files.GroupBy(f => f.StudentEmail))
                    {
                        <tr>
                            <td>@fileGroup.Key</td>
                            <td>
                                @foreach (var file in fileGroup.Where(f => System.IO.Path.GetExtension(f.FilePath) == ".pdf"))
                                {
                                    <a href='@Url.Content(file.FilePath)'>@(System.IO.Path.GetFileName(file.FilePath))</a>
                                    <a asp-action="DownloadFile" asp-route-id="@file.FileID" class="btn btn-danger">Download</a>
                                }
                                @if (!fileGroup.Any(f => System.IO.Path.GetExtension(f.FilePath) == ".pdf"))
                                {
                                    <span>N/A</span>
                                }
                            </td>
                            <td>
                                @foreach (var file in fileGroup.Where(f => System.IO.Path.GetExtension(f.FilePath) == ".png"))
                                {
                                    <a href='@Url.Content(file.FilePath)'>@(System.IO.Path.GetFileName(file.FilePath))</a>
                                    <a asp-action="DownloadFile" asp-route-id="@file.FileID" class="btn btn-danger">Download</a>
                                }
                                @if (!fileGroup.Any(f => System.IO.Path.GetExtension(f.FilePath) == ".png"))
                                {
                                    <span>N/A</span>
                                }
                            </td>
                            <td>
                                @if (fileGroup.Any(f => f.Comments != null && f.Comments.Any()))
                                {
                                    foreach (var file in fileGroup)
                                    {
                                        foreach (var comment in file.Comments)
                                        {
                                            if (comment.ApplicationUser != null && comment.ApplicationUser.Email != "N/A")
                                            {
                                                <div class="card my-3">
                                                    <div class="card-body">
                                                        <p><strong>Email:</strong> @comment.ApplicationUser.Email</p>
                                                        <p><strong>Content:</strong> @comment.Content</p>
                                                        <p><strong>Comment Date:</strong> @comment.CommentDate</p>
                                                        <form asp-action="DeleteComment" method="post">
                                                            <input type="hidden" name="commentId" value="@comment.CommentID" />
                                                            <button type="submit" class="btn btn-danger">Delete comment</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <p>No comments available.</p>
                                }

                                <!-- Add Comment Form -->
                                @if (User.Identity.IsAuthenticated && (fileGroup.Any(f => System.IO.Path.GetExtension(f.FilePath) == ".pdf" || System.IO.Path.GetExtension(f.FilePath) == ".png")))
                                {
                                    <form asp-action="AddComment" method="post">
                                        <input type="hidden" name="contributionId" value="@Model.ContributionID" />
                                        @foreach (var file in fileGroup.Where(f => System.IO.Path.GetExtension(f.FilePath) == ".pdf" || System.IO.Path.GetExtension(f.FilePath) == ".png"))
                                        {
                                            <input type="hidden" name="fileId" value="@file.FileID" />
                                            <div class="form-group">
                                                <label for="commentContent_@(file.FileID)">Add Comment for @(file.FileName):</label>
                                                <textarea class="form-control" id="commentContent_@(file.FileID)" name="content" rows="3"></textarea>
                                            </div>
                                        }
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                }
                            </td>
                            <td>
                                <!-- Displays the public/private status of the file -->
                                @foreach (var file in fileGroup)
                                {
                                    @if (file.Comments != null && file.Comments.Any(c => c.ApplicationUser != null && c.ApplicationUser.Email != "N/A"))
                                    {
                                        <form asp-action="SetPublic" method="post">
                                            <input type="hidden" name="fileId" value="@file.FileID" />
                                            <input type="hidden" name="makePublic" value="@(file.IsPublic ? "false" : "true")" />
                                            <input type="hidden" name="contributionId" value="@Model.ContributionID" />
                                            <button type="submit" class="btn btn-info">
                                                @if (file.IsPublic)
                                                {
                                                    <span>Set Private</span>
                                                }
                                                else
                                                {
                                                    <span>Set Public</span>
                                                }
                                            </button>
                                        </form>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model?.ContributionID">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
    <a class="btn btn-danger" href="@Url.Action("DownloadFile", "Contributions", new { id = Model.ContributionID })">
        Download
    </a>
</div>


