@model _1640WebDevUMC.Models.Contribution


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contribution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicYear.AcademicYearID)
        </dd>
        <dd>
            @foreach (var file in Model.FilePath)
            {
                <p>
                    <a href="@Url.Content(file)">@(System.IO.Path.GetFileName(file))</a>
                </p>
            }
        </dd>
        <a href="path_to_your_file" download>
            <button>Download</button>
        </a>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContributionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
