@model _1640WebDevUMC.Models.Contribution

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contribution</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicYear.AcademicYearID)
        </dd>
        <dt class="col-sm-2">
            Files
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>PDF File</th>
                        <th>Image File</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.Files)
                    {
                        <tr>
                            <td>@file.StudentEmail</td>
                            <td>
                                @if (System.IO.Path.GetExtension(file.FilePath) == ".pdf")
                                {
                                    <a href='@Url.Content(file.FilePath)'>@(System.IO.Path.GetFileName(file.FilePath))</a>
                                }
                                else
                                {
                                    @:N/A
                                }
                                @if (file.Comments != null && file.Comments.Any())
                                {
                                    foreach (var comment in file.Comments)
                                    {
                                        <div class="card my-3">
                                            <div class="card-body">
                                                <p><strong>Comment ID:</strong> @comment.CommentID</p>
                                                <p><strong>Content:</strong> @comment.Content</p>
                                                <p><strong>Comment Date:</strong> @comment.CommentDate</p>
                                                <p><strong>Email:</strong> @comment.ApplicationUser.Email</p>
                                                <form asp-action="DeleteComment" method="post">
                                                    <input type="hidden" name="commentId" value="@comment.CommentID" />
                                                    <button type="submit" class="btn btn-danger">Delete comment</button>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>No comments available.</p>
                                }
                            </td>
                            <td>
                                @if (System.IO.Path.GetExtension(file.FilePath) == ".png")
                                {
                                    <a href='@Url.Content(file.FilePath)'>@(System.IO.Path.GetFileName(file.FilePath))</a>
                                }
                                else
                                {
                                    @:N/A
                                }
                                @if (file.Comments != null && file.Comments.Any())
                                {
                                    foreach (var comment in file.Comments)
                                    {
                                        <div class="card my-3">
                                            <div class="card-body">
                                                <p><strong>Comment ID:</strong> @comment.CommentID</p>
                                                <p><strong>Content:</strong> @comment.Content</p>
                                                <p><strong>Comment Date:</strong> @comment.CommentDate</p>
                                                <p><strong>Email:</strong> @comment.ApplicationUser.Email</p>
                                                <form asp-action="DeleteComment" method="post">
                                                    <input type="hidden" name="commentId" value="@comment.CommentID" />
                                                    <button type="submit" class="btn btn-danger">Delete comment</button>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>No comments available.</p>
                                }
                            </td>
                            <td>
                                <h4>Add Comment</h4>
                                <hr />
                                <form asp-action="AddComment" method="post">
                                    <input type="hidden" name="contributionId" value="@Model.ContributionID" />
                                    <input type="hidden" name="fileId" value="@file.FileID" />
                                    <textarea name="content" placeholder="Your comment" class="form-control"></textarea>
                                    <button type="submit" class="btn btn-success mt-2">Add comment</button>
                                </form>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContributionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a href="@Url.Action("DownloadFile", "Contributions", new { id = Model.ContributionID })">
        <button>Download</button>
    </a>
</div>
