@model IEnumerable<_1640WebDevUMC.Models.Contribution>

@{
    ViewData["Title"] = "Student";
    Layout = "~/Views/Shared/MarketingCoordinatorLayout.cshtml";
    var currentUserEmail = User.Identity.Name; // Get the current user's email
}


<h1 style="margin-left: -46px;">Management Contributions</h1>
<p>
    <a href="/Contributions/Create" class="btn btn-primary" style="margin-left: -44px;">Create new Contributions</a>
</p>
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4" style="margin-left: -68px;">
        <div class="d-flex align-items-center justify-content-between mb-4">

        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col">ApplicationUser</th>
                        <th scope="col">Course</th>
                        <th scope="col">Status</th> <!-- Add Status column -->
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AcademicYear.AcademicYearID)
                            </td>
                            <td>
                                @if (item.IsPublic)
                                {
                                    <span class="badge bg-success">Public</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Private</span>
                                }
                            </td>
                            <td>
                                <button class="btn btn-danger">  <a class="tag-a" asp-action="Edit" asp-route-id="@item.ContributionID" style="color:aliceblue">Edit</a></button>
                                <button class="btn btn-danger"><a class="tag-a" asp-action="Details" asp-route-id="@item.ContributionID" style="color:aliceblue">Details</a></button>
                                <button class="btn btn-danger"> <a class="tag-a" asp-action="Delete" asp-route-id="@item.ContributionID" style="color:aliceblue">Delete</a></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>