@model IEnumerable<_1640WebDevUMC.Models.Contribution>

<h2>Contributions</h2>

<table class="table">
    <thead>
        <tr>
            <th>Contribution ID</th>
            <th>File</th>
            <th>Image</th>
            <th>Academic Year ID</th>
            <th>Start Date</th>
            <th>Closure Date</th>
            <th>Final Closure Date</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ContributionID)</td>
                <td>@Html.DisplayFor(modelItem => item.File)</td>
                <td>@Html.DisplayFor(modelItem => item.Image)</td>
                <td>@Html.DisplayFor(modelItem => item.AcademicYearID)</td>
                <td>@Html.DisplayFor(modelItem => item.AcademicYear.UploadDate)</td>
                <td>@Html.DisplayFor(modelItem => item.AcademicYear.ClosureDate)</td>
                <td>@Html.DisplayFor(modelItem => item.AcademicYear.FinalClosureDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContributionID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ContributionID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContributionID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
