@model _1640WebDevUMC.Models.AcademicYear

@{
    ViewData["Title"] = "Details";
}
<style>
    .user-details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        width: 300px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ */
    }

        .user-details h2 {
            margin-top: 0;
            color: #333;
        }

        .user-details div {
            margin-bottom: 15px;
        }

        .user-details h4 {
            margin: 5px 0;
            color: #666;
        }

        .user-details p {
            margin: 0;
        }

        .user-details ul {
            padding-left: 20px;
            margin: 0;
        }

        .user-details li {
            list-style-type: none;
            margin-bottom: 5px;
        }

        .user-details a {
            text-decoration: none;
            color: #fff;
        }

            .user-details a:hover {
                text-decoration: underline;
            }
</style>


<div class="user-details">
    <h2>Academic Details</h2>
    <hr />

    <div>
        <h4>Upload Date:</h4>
        <p>@Model.UploadDate</p>
    </div>

    <div>
        <h4>Closure Date:</h4>
        <p>@Model.ClosureDate</p>
    </div>

    <div>
        <h4>Final Closure Date:</h4>
        <p>@Model.FinalClosureDate</p>
    </div>

    <div>
        <h4>Faculty ID:</h4>
        <p>@Model.Faculty.FacultyID</p>
    </div>

    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
        <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.AcademicYearID">Edit</a>
    </div>
</div>



